.box {
	min-height: 20px;
	background-color: #ecf0f1;
	color: #333333;
	padding:19px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
  	border-radius: 1px;
	-webkit-box-shadow: inset  0 0 8px rgba(0, 0, 0, .20);
          box-shadow: inset  0 0 8px rgba(0, 0, 0, .20);
}

.box-inverse {
	min-height: 20px;
	height:200px;
	background-color: #333333;
	color: #ecf0f1;
	padding:19px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
  	border-radius: 1px;
	-webkit-box-shadow: inset  0 0 8px rgba(0, 0, 0, .20);
          box-shadow: inset  0 0 8px rgba(0, 0, 0, .20);
}

/* http://flatuicolors.com */

.box-turquoise {background-color: #1abc9c;color: #ecf0f1;}
.box-green-sea {background-color: #16a085;color: #ffffff;}
.box-sun-flower {background-color: #f1c40f;color: #333333;}
.box-orange {background-color: #f39c12;color: #333333;}
.box-emerald {background-color: #2ecc71;	color: #ffffff;}
.box-nephritis {background-color: #27ae60;color: #ffffff;}
.box-carrot {background-color: #f39c12;color: #333333;}
.box-pumpkin {background-color: #d35400;color: #ecf0f1;}
.box-peter-river {background-color: #3498db;color: #ffffff;}
.box-belize-hole {background-color: #2980b9;color: #ffffff;}
.box-alizarin {background-color: #e74c3c;color: #ffffff;}
.box-pomegranate {background-color: #c0392b;color: #ecf0f1;}
.box-amethyst {background-color: #9b59b6;	color: #ecf0f1;}
.box-wisteria {background-color: #8e44ad;	color: #ecf0f1;}
.box-clouds {background-color: #ecf0f1;color: #333333;}
.box-silver {background-color: #bdc3c7;color: #333333;}
.box-wet-asphalt {background-color:#34495e;	color: #ecf0f1;}
.box-midnight-blue {background-color:#2c3e50;	color: #ecf0f1;}
.box-concrete {background-color: #95a5a6;color: #000000;}
.box-asbestos {background-color:#7f8c8d;	color: #000000;}

.box-1 {height:100px;}
.box-1.5 {height:150px;}
.box-2 {height:200px;}
.box-2.5 {height:250px;}
.box-3 {height:300px;}
.box-3.5 {height:350px;}
.box-4 {height: 400px;}
.box-4.5 {height:450px;}
.box-5 {height:500px;}
.box-5.5 {height:550px;}
.box-6 {height:600px;}
.box-6.5 {height:650px;}
.box-7 {height:700px;}
.box-7.5 {height:750px;}
.box-8 {height:800px;}
.box-8.5 {height:850px;}
.box-9 {height:900px;}
.box-9.5 {height:950px;}
.box-10 {height:1000px;}
.box-10.5 {height:1050px;}
